*, *:before, *:after {
  -webkit-box-sizing: border-box; 
  -moz-box-sizing: border-box; 
  box-sizing: border-box;
}

.container {
	width: 1000px;
	margin: 0 auto;
	padding: 0px;
	position: relative;
}

.container:after, .container:before {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-1-4 {
	float: left;
	margin-left: 10px;
	margin-right: 10px;
}

.grid-1    {width: 63px;}
.grid-2    {width: 146px;}
.grid-3    {width: 230px;}
.grid-4    {width: 313px;}
.grid-5    {width: 396px;}
.grid-6    {width: 480px;}
.grid-7    {width: 563px;}
.grid-8    {width: 646px;}
.grid-9    {width: 730px;}
.grid-10    {width: 813px;}
.grid-11    {width: 896px;}
.grid-12    {width: 980px;}
.grid-1-4    {width: 230px;}

@media only screen and (min-width: 768px) and (max-width: 1000px) {

.container {
	width: 768px;
}

.grid-1    {width: 44px;}
.grid-2    {width: 108px;}
.grid-3    {width: 172px;}
.grid-4    {width: 236px;}
.grid-5    {width: 300px;}
.grid-6    {width: 364px;}
.grid-7    {width: 428px;}
.grid-8    {width: 492px;}
.grid-9    {width: 556px;}
.grid-10    {width: 620px;}
.grid-11    {width: 684px;}
.grid-12    {width: 748px;}
.grid-1-4    {width: 172px;}

}

@media only screen and (max-width: 767px) {
.container {
	width: 300px;
}

.grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12, .grid-1-4 {
	width: 300px;
	margin: 0 0 20px 0;
	float: none;
}

}